@import "breakpoints.scss";

:root {
  --layout-w: 100vw;
}

@include desktop {
  :root {
    --layout-w: 27.5rem;
  }
}

.layout {
  width: var(--layout-w);
  max-width: var(--layout-w);
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template: 1fr var(--nav-h) / var(--layout-w);
  grid-template-areas: 'main' 'nav';

  &__main {
    grid-area: main;
  }
}
