:root {
  --var-h: 10vh;
}
.vars {
  background-color: #292929;
  height: 100%;
  width: 100%;

  &__var {
    height: var(--var-h);
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fefefe;

    &__remove {
      flex: 2 1 50px;
      display: flex;
      justify-content: center;
      border: none;
      background-color: #1b1b1b;

      &__icon {
        width: 20px;
        fill: #ffffff;
      }
    }

    &__exp {
      flex: 5 1 100%;
      border: none;
      background-color: inherit;
      color: #2c2c2c;
      font-size: 1.25rem;
      padding: 0 10px;
      overflow-x: auto;
      box-shadow: 0 0 0.8px 0px #1a1a1a;
    }

    &__movers {
      flex: 1 1 40px;

      &__btn {
        background-color: inherit;
        border: none;
        width: 100%;
        height: 50%;
        line-height: calc(var(--var-h) / 2);
        text-align: center;
        transform: rotate(90deg);
        font-size: 1.3rem;
      }
    }
  }
}
